[MASTER]
# init-hook='import sys; sys.path.append("./")'

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
disable=import-error,no-self-use,missing-module-docstring,c-extension-no-member,fixme,todo,too-many-instance-attributes,duplicate-code
